<div class="main-container">
  <div class="button-container">
    <button class="">
      <img src="assets/add.png" alt="Add Icon" />
      <span>Add</span>
    </button>

    <button class=" add2">
      <img src="assets/edit.png" alt="Edit Icon" />
      <span>Edit</span>
    </button>
  </div>
  <div class="course-container">
    <div class="course-card">
      <img src="assets/cleo.jpg" alt="" />
      <h1 class="">Bisaya</h1>
      <p class="">Course Code: BS 101</p>
    </div>
    <div class="course-card">
      <img src="assets/cleo.jpg" alt="" />
      <h1 class="">Bisaya</h1>
      <p class="">Course Code: BS 101</p>
    </div>
    <div class="course-card">
      <img src="assets/cleo.jpg" alt="" />
      <h1 class="">Bisaya</h1>
      <p class="">Course Code: BS 101</p>
    </div>
    <div class="course-card">
      <img src="assets/cleo.jpg" alt="" />
      <h1 class="">Bisaya</h1>
      <p class="">Course Code: BS 101</p>
    </div>
    <div class="course-card">
      <img src="assets/cleo.jpg" alt="" />
      <h1 class="">Bisaya</h1>
      <p class="">Course Code: BS 101</p>
    </div>
    <div class="course-card">
      <img src="assets/cleo.jpg" alt="" />
      <h1 class="">Bisaya</h1>
      <p class="">Course Code: BS 101</p>
    </div>
  </div>
</div>
