<div class="w-full flex flex-col gap-4">
  <div class="w-full flex flex-col  gap-2 p-4">
    <div class="gap-x-0.5 text-2xl text-gray-600 instruction ">
      Choose
      <span class="text-2xl text-transparent  gradient-color bg-clip-text">
        Study Mode:
      </span>
    </div>
    <div class="mx-12 my-2 text-xl w-full max-w-screen-sm text-gray-700 description ">
      Choose Teacher-led for expert guidance or Self-study for personalized language
      mastery. Bon voyage!
    </div>
  </div>
  <div class=" w-full h-full">
    <div class="w-full mx-1 rounded-xl flex lg:items-start items-center lg:justify-center justify-evenly md:gap-8 lg:gap-24  ">
      <a class="w-fit" routerLink="/student/courses">
        <button class=" gradient-color1 lg:w-96 w-60 px-6 lg:h-80 h-[10dvh] rounded-xl">
          <div class="text-center mode-title">
            <p class="lg:text-2xl text-xl text-white ">TEACHER-LED</p>
          </div>
        </button>
      </a>

      <a class="w-fit" routerLink="/student/selfstudylab">
        <button class="w-60 gradient-color1 lg:w-96 px-6 lg:h-80 h-[10dvh] rounded-xl">
          <div class="text-center mode-title">
            <p class="lg:text-2xl text-xl text-white ">SELF-ASSESSMENT</p>
          </div>
        </button>
      </a>
    </div>
  </div>
</div>