<div id="login-page" class="absolute top-0 right-0 p-2 z-10">
  <button
  class="ml-2  flex items-center justify-center w-9 h-9 rounded-full hover:bg-gray-100 "
    (click)="toggleDarkMode()"
  >
    <i class="fa-solid {{isDarkModeEnabled() ? 'fa-moon':'fa-sun'}} text-yellow-500 text-lg"></i>
  </button>
</div>
<div class="flex flex-col h-screen content gradint animate-wave relative lg:flex-row">
  <!-- Left section (Branding & Description) -->
  <div class="box-border flex-1 hidden p-8 bg-cover custom:hidden lg:block lg:w-3/5 my-div lg:p-20">
    <div class="text">
      <div class="mx-auto mt-6 ml-4 text-4xl text-white font-bold lg:text-6xl lg:mt-20 lg:ml-10">
        <h2>Quanby LMS</h2>
      </div>
      <div class="pt-3 mx-auto mt-10 ml-4 text-white lg:ml-10 lg:pt-5 lg:w-70 font-light">
        <p class="text-lg lg:text-base">
          Empowering Innovative Online Learning.<br>
          {{ trainingProgramTitle }}: {{ trainingDescription }}
        </p>
      </div>
    </div>
  </div>

  <!-- Right section (Login form) -->
  <div class="flex items-center justify-center flex-1 p-4 lg:bg-primary-50 lg:mt-0 lg:p-8 z-2">
    <div class="flex items-center justify-center flex-1 w-full mt-4 lg:w-2/5 lg:mt-0 lg:p-8 z-2">
      <div class="h-auto p-4 bg-primary-100 floating rounded-3xl lg:p-4 shadow-boxz w-au lg:w-3/4 relative">
        <div class="absolute top-0 right-0 p-5">
        </div>
        <!-- Logo (Dynamic) -->
        <div class="relative flex items-center justify-center qlab">
          <img [src]="imageSrc" [alt]="imageAlt" [ngClass]="imageClass" />
        </div>

        <!-- Login form -->
        <form class="pt-2 qlab-desc lg:pt-4">
          <p class="text-md lg:text-xl text-primary-900 font-semibold">Welcome Back! Sign in to continue learning.</p>
          <!-- Input fields -->
          <div class="mt-2 input-div lg:mt-4 ">
            <input name="email" type="email" [(ngModel)]="username" class="w-full p-2 mb-2 border rounded text-primary-900"
              placeholder="Email" />
            <div class="relative">
              <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" name="password"
                class="relative w-full p-2 border rounded text-primary-900" placeholder="Password" />
              <i (click)="toggleShowPassword()"
                class="text-primary-700 absolute right-2.5 top-3 cursor-pointer password-icon fas"
                [ngClass]="{ 'fa-eye': showPassword, 'fa-eye-slash': !showPassword }" aria-hidden="true"></i>
            </div>
          </div>
          <!-- Remember me checkbox -->
          <div class="flex items-center mt-2 checkbox-div lg:mt-4">
            <input type="checkbox" [(ngModel)]="rememberMe" />
            <p class="ml-2 text-xs lg:text-xs text-primary-900">Remember me</p>
          </div>
          <!-- Submit button -->
          <div class="mt-4 shadow-lg submit-btn lg:mt-6">
            <button type="submit" (click)="login()"
              class="w-full p-2 text-white border rounded-xl lg:p-3 gradient-color uppercase">
              Login
            </button>
          </div>
          <!-- Register link -->
          <div class="mt-2 text-xs text-center lg:mt-6 lg:text-xs text-primary-900">
            Don't have an account?
            <a class="underline cursor-pointer font-semibold" (click)="openModal()">
              Register
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>