<nav class="py-4 bg-white shadow-md">
  <ul class="flex items-center justify-center gap-x-8 lg:gap-x-10">
    <li>
      <a
        routerLink="/admin/speechlab/Lab"
        routerLinkActive="text-amber-600 font-bold border-b-2 border-amber-600"
        class="text-base font-medium text-gray-400 transition-colors duration-300 sm:text-lg lg:text-xl hover:text-amber-600"
      >
        LAB
      </a>
    </li>
    <li>
      <a
        routerLink="/admin/speechlab/drills"
        routerLinkActive="text-amber-600 font-bold border-b-2 border-amber-600"
        class="text-base font-medium text-gray-400 transition-colors duration-300 sm:text-lg lg:text-xl hover:text-amber-600"
      >
        Modules
      </a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
