<nav>
  <ul class="flex items-center justify-center nav-menu lg:gap-x-4 gap-x-6">
    <li>
      <a
        routerLink="/teacher/speechlab/practice-parent"
        routerLinkActive="active-link"
        class="nav-link"
        aria-label="Practice"
      >
        PRACTICE
      </a>
    </li>
    <li>
      <a
        routerLink="/teacher/speechlab/lab"
        routerLinkActive="active-link"
        class="nav-link"
        aria-label="Lab"
      >
        LAB
      </a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
